.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
  text-align: center;
  color: var(--text);
  margin: 0;
  padding: 0;
}
.hero-title {
  font-size: 4rem;
  font-family: var(--font-logo);
  text-align: center;
  background: var(--gradient-hero);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  padding: 0;
}

.hero-title-02 {
  font-size: 4rem;
  font-family: var(--font-logo);
  text-align: center;
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  padding: 0;
}

.headphone {
  width: 100px;
  position: absolute;
  right: 10%;
  top: 20%;
  animation: float 6s infinite ease-in-out;
}

.headphone-02 {
  width: 100px;
  position: absolute;
  left: 10%;
  top: 50%;
  animation: float 6s infinite ease-in-out;
}

.music {
  width: 100px;
  position: absolute;
  left: 5%;
  top: 10%;
  animation: float 4s infinite ease-in-out;
}

.music-02 {
  width: 100px;
  position: absolute;
  right: 10%;
  top: 70%;
  animation: float 4s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
